<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>NW Boilerplate</title>

    <link href="./stylesheets/main.css" rel="stylesheet" type="text/css">

    <!-- Scripts giving you few extra things in NW.js -->
    <script src="vendor/nw-boilerplate/context_menu.js"></script>
    <script src="vendor/nw-boilerplate/external_links.js"></script>
    <script src="vendor/nw-boilerplate/dev_helper.js"></script>
    <script src="vendor/nw-boilerplate/env_config.js"></script>
    <script>
        (function () {
            var gui = require('nw.gui');
            var win = gui.Window.get();

            // Create default menu items for OSX
            if (process.platform === 'darwin') {
                var mb = new gui.Menu({ type: "menubar" });
                mb.createMacBuiltin(gui.App.manifest.productName);
                win.menu = mb;
            }

        }());
    </script>

    <!-- Load real app code -->
    <script src="vendor/require.js"></script>
    <script>
        requirejs(['app'], function (app) {});
    </script>
</head>
<body>

    <div class="container" id="container">
        <p id="cam_status"></p>
    </div>




    <script type="text/template" id="imageList">
        <ul class="listImages">
            <% _.each(images,function(img) { %>
               <li>
                    <img src="file://<%= img.src %>" alt="">
                    <span><%= img.name %></span>
                </li>
            <% }); %>
        </ul>

        <input type="text" name="images-name" placeholder="images name" id="newname"><br>
        <input type="button" value="rename" id="rename"> <br><br>
        <input type="button" value="open folder" id="openFolder"><br><br>
        <input type="button" value="New images" id="newImage"><br><br>
    </script>

    <script type="text/template" id="imageListRenameAll">
        <ul class="listImages">
            <% _.each(images,function(img) { %>
               <li>
                    <img src="file://<%= img.src %>" alt="">
                    <span><%= img.name %></span>
                    <input type="text" name="images-name" placeholder="images name" id="newname"><br>
                    <input type="button" value="rename" class="rename"> <br><br>
                    <input type="button" value="new picture" class ="newPicture"> <br><br>
                
                </li>
            <% }); %>
        </ul>
        <input type="button" value="open folder" id="openFolder"><br><br>
        <input type="button" value="New images" id="newImage"><br><br>
    </script>
</body>
</html>
