<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>NW Boilerplate</title>


    <!-- Bootstrap core CSS -->
    <link href="./stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="./stylesheets/bootstrap-reset.css" rel="stylesheet">
    <link href="./stylesheets/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="./stylesheets/style.css" rel="stylesheet" type="text/css">
    <link href="./stylesheets/style-responsive.css" rel="stylesheet" type="text/css">
    <link href="./stylesheets/gallery.css" rel="stylesheet" type="text/css">



    <!-- Scripts giving you few extra things in NW.js -->
    <script src="vendor/nw-boilerplate/context_menu.js"></script>
    <script src="vendor/nw-boilerplate/external_links.js"></script>
    <script src="vendor/nw-boilerplate/dev_helper.js"></script>
    <script src="vendor/nw-boilerplate/env_config.js"></script>
    <script>
        (function () {
            var gui = require('nw.gui');
            var win = gui.Window.get();

            // Create default menu items for OSX
            if (process.platform === 'darwin') {
                var mb = new gui.Menu({ type: "menubar" });
                mb.createMacBuiltin(gui.App.manifest.productName);
                win.menu = mb;
            }

        }());
    </script>

    <!-- Load real app code -->
    <script src="vendor/require.js"></script>
    <script>
        requirejs(['app'], function (app) {});
    </script>
</head>
<body>


    <section id="container">
        <header class="header white-bg">
            <a href="index.html" class="logo">Pack<span>shots</span></a>
        </header>


        <aside>
            <div id="sidebar">
                <ul class="sidebar-menu" id="nav-accordion">
                      <li>
                          <a class="" href="index.html">
                              <i class="fa fa-dashboard"></i>
                              <span>Nouvelle prise de vue</span>
                          </a>
                      </li>

                      <li class="sub-menu dcjq-parent-li">
                            <a href="javascript:;" class="dcjq-parent">
                                <i class="fa fa-laptop"></i>
                                <span>Préférences</span>
                            <span class="dcjq-icon"></span></a>
                        </li>
                  </ul>
            </div>
        </aside>



        <section id="main-content">
          <section class="wrapper " id="content-receipt">

              <section class="panel" id="camerasPanel">

                  <header class="panel-heading" align="center">
                    Packshots
                  </header>
                  <div class="panel-body" align="center">
                    <div class="message"></div>
                  </div>

              </section>


        </section>
    </section>
</section>



    <script type="text/template" id="imageListRenameAll">

          <section class="panel" id="imagesPanel">
              <header class="panel-heading" align="center">
                Vos images
              </header>
              <div class="panel-body" align="center">


                    <div class="row product-list">

                        <% _.each(images,function(img) { %>

                          <div class="col-md-4">
                              <section class="panel">
                                  <div class="pro-img-box">
                                      <img src="file://<%= img.src %>" alt="">
                                      <a href="#" class="adtocart" data-action="retakePicture">
                                          <i class="fa fa-refresh"></i>
                                      </a>
                                  </div>

                                  <div class="panel-body text-center">
                                      <h4>
                                          <a href="#" class="pro-title"  data-action="initRename">
                                              <%= img.name %>
                                          </a>
                                      </h4>
                                  </div>
                              </section>
                          </div>
                          <% }); %>


                    </div>
                </div>
        </section>

    </script>

    <script type="text/template" id="compareImage">
        <ul class="listImages">
            <% _.each(images,function(img) { %>
               <li data-id="<%=img.picId%>" >
                    <img src="file://<%= img.src %>" alt="">
                    <span><%= img.name %></span>
                    <input type="button" value="keep this image" class="keep"> <br><br>
                </li>
            <% }); %>
        </ul>
        <input type="button" value="open folder" id="openFolder"><br><br>
        <input type="button" value="New images" id="newImage"><br><br>
    </script>

</body>
</html>
